.mainSection {
    background-image: url('/banner2.jpg');
    background-size: cover;
    height: 500px;
    width: 100%;
    color: white;


    .mainSectionHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;

        h1 {
            font-size: 50px;
            margin: 0;
        }

        p {
            font-size: 12px;
            opacity: 0.5;
        }
    }
    .currencyData {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        ul {
            display: flex;
            flex-direction: column;
            gap: 5px;
            list-style: none;
            width: 200px;
            align-items: center;
            

            li {
             font-size: 15px;
                &:nth-child(2) {
                     display: flex;
                     gap: 5px;

                     .plus {
                         color: green;
                     }
                     .minus {
                        color: red;
                     }
                }

            }
            img {
                width: 70px;

            }
        }
    }

}