.coinChart {
    flex: 3;
    padding-left: 30px;
    border-left: 2px solid rgb(87 82 82);

    .buttons {
        display: flex;
        gap: 20px;
        padding: 20px;

        button {
            padding: 10px 80px;
            font-size: 16px;
            background-color: #14161a;
            color: white;
            border: 2px solid rgb(87 82 82);

            &:hover {
                background-color: gold;
                color: black;
                cursor: pointer;
                font-weight: bold;
                border: none;
            }

            &.active {
                background-color: gold;
                color: black;
                font-weight: bold;
                border: none;
            }
        }
    }
}

@media (max-width:1000px) {
    .coinChart {
        border-top: 5px solid rgb(30, 30, 30);
        border-left: none;
        padding: 0;
        padding-top: 10px;

        .buttons {
            button {
                flex: 1;
                height: 40px;
                padding: 0;
            }
        }
    }
}

@media (max-width:650px) {
    .coinChart {
        .buttons {
            gap: 10px;

            button {
                height: 30px;
                font-size: 12px;
            }
        }
    }
}