.cryptoTableSection {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h2 {
        font-weight: 400;
        font-size: 30px;
        margin: 0;
        padding-top: 20px;
    }

    .searchinput {
        width: calc(100% - 10px);
        height: 30px;
        outline: none;
        background-color: #14161a;
        border: 1px solid rgb(155, 155, 155);
        color: white;
        font-size: 16px;
        padding-left: 10px;
    }

    .currencyTable {
        width: 100%;
        border-spacing: 0;

        .tableHead th {
            text-align: start;
            padding: 10px;
            background-color: gold;
            color: black;
            font-weight: bold;
        }

        tr td {
            padding: 20px 10px;
            border-bottom: 1px solid rgb(155, 155, 155);
            font-size: 15px;

            &:first-child {
                display: flex;
                gap: 10px;
                align-items: center;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    span {
                        &:first-child {
                            font-size: 18px;
                            text-transform: uppercase;
                        }

                        &:nth-child(2) {
                            font-size: 12px;
                            opacity: 60%;
                        }

                    }
                }

            }
        }

        img {
            width: 50px;
        }

    }
}